{
	"env": {
		"browser": true,
		"node": true,
		"shared-node-browser": true,
		"jest": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:inferno/recommended",
		"eslint-config-happiness"
	],
	"globals": {},
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"rules": {
		"array-callback-return": "error",
		"camelcase": ["error", {
			"properties": "never"
		}],
		"comma-dangle": ["error", "always-multiline"],
		"import/extensions": "off",
		"import/no-extraneous-dependencies": "off",
		"import/no-unresolved": [2, { "ignore": ["electron"] }],
		"jsx-quotes": ["error", "prefer-double"],
		"linebreak-style": "off",
		"multiline-ternary": ["error", "always-multiline"],
		"prefer-arrow-callback": ["error", {
			"allowNamedFunctions": true
		}],
		"prefer-const": "error",
		"no-alert": "error",
		"no-console": "off",
		"no-duplicate-imports": "error",
		"no-eval": "error",
		"no-extend-native": "error",
		"no-extra-bind": "error",
		"no-extra-semi": "error",
		"no-implied-eval": "error",
		"no-invalid-this": "error",
		"no-nested-ternary": "error",
		"no-new-func": "error",
		"no-new-wrappers": "error",
		"no-return-assign": "error",
		"no-return-await": "error",
		"no-self-compare": "error",
		"no-shadow": ["error", {
			"builtinGlobals": true
		}],
		"no-unneeded-ternary": "error",
		"no-unused-expressions": "error",
		"no-use-before-define": "error",
		"no-useless-call": "error",
		"no-useless-concat": "error",
		"no-useless-return": "error",
		"no-var": "error",
		"no-with": "error",
		"prefer-rest-params": "error",
		"prefer-spread": "error",
		"prefer-template": "error",
		"quotes": ["error", "single", {
			"allowTemplateLiterals": true,
			"avoidEscape": true
		}],
		"quote-props": ["error", "as-needed", {
			"keywords": true,
			"unnecessary": false,
			"numbers": false
		}],
		"radix": ["error", "always"],
		"react/prefer-stateless-function": "off",
		"require-await": "error",
		"sort-keys": ["error", "asc", {"caseSensitive": true, "natural": true}],
		"yoda": ["error", "never"]
	}
}
