/**
 * Custom styles for electron app
 */

/*! Classes */
.abs-center {
	height: auto;
	margin: auto;
	width: auto;
}

.container {
	padding: 0;
	margin: 0;
}

.full-height {
	height: calc(100% - 60px);
}

.row {
	margin: inherit;
}

/*! Elements */
html, body {
	height: 100vh;
}

bs-container > * {
	padding: 0.5em 1em;
}

bs-form-feedback,
bs-form-group,
bs-jumbotron {
	display: block;
}

/*! Ids */
