/**
 * Custom styles for electron app
 */

/*! Classes */
.abs-center {
	height: auto;
	margin: auto;
	width: auto;
}

.full-height {
	height: 100%;
}

/*! Elements */
html, body {
	height: 100vh;
}

/*! Ids */
